h1 {
    text-align: center;
    font-family: Mukta, sans-serif;
    font-weight: 600;
    color: #EF8354;
}

.header {
    padding: 20px 20px;
}

h2 {
    text-align: right;
    font-family: Mukta, sans-serif;
    color: #EF8354;
}

p {
    font-family: Mukta, sans-serif;
    font-weight: 500;
    color: #bfc0c0;
    line-height: 30px;
    text-align: right;
    font-size: 20px;
    float: left;

}

.picture {
    border-radius: 15%;
    display: block;
    margin-right: 80px;
    float: right;
}

.description p h2 {
    padding: 5em 30px;
    margin-bottom: 6em;
        
}

.skills {
    margin-top: 6em;
}
li {
    text-align: center;
    font-family: Mukta, sans-serif;
    color: #BFC0C0;
    line-height: 20px;
}

body {
    background-color: #2D3142;
}